{% extends 'portfolio/base.html' %} {% block title %}About{% endblock %} {% block content %}
<h2 style="color: darkturquoise;">About Me</h2>
<p>Motivated and detail-oriented Electronics & Telecommunication graduate with strong skills in Python, Data Analysis, and IoT systems.</p>
<ul>
    <li style="color: aquamarine;">Email: shreyashalmast@gmail.com</li>
    <li style="color: aquamarine;">Phone: 8623853387</li>
    <li><a class="btn btn-primary" style="border-color: aliceblue;" href="https://www.linkedin.com/in/shreyash-almast-3108a1304/">LinkedIn</a></li>
    <li><a class="btn btn-primary" style="border-color: aliceblue;" href="https://github.com/Shreyash-Almast">GitHub</a></li>
</ul>
{% endblock %}