 {% extends 'portfolio/base.html' %} {% block title %}Home{% endblock %} {% block content %}\ {% load static %}
<img src="{% static 'portfolio/img/myphoto.jpg' %}" class="img-fluid rounded-circle shadow-lg" alt="Shreyash Photo" width="250">
<h1 style="color: darkturquoise;">Welcome to My Resume Website</h1>
<p class="fade-in">I'm <strong>Shreyash Almast</strong>, an Electronics & Telecommunication Engineering graduate passionate about Python, data analysis, and real-time systems.</p>
<a class="btn btn-primary" style="border-color: aliceblue;" href="/about/">Learn More About Me</a> {% endblock %}