{% extends 'portfolio/base.html' %} {% block title %}Projects{% endblock %} {% block content %}
<div class="mb-5 fade-in">
    <h2 style="font-size: 40px; color: darkturquoise;">🧑‍⚕️ ICU Patient Monitoring System</h3>
        <p><strong>Technologies:</strong> Python, Flask, Raspberry Pi, SQLite</p>
        <ul style="color: aliceblue; font-size: 20px;">
            <li>Developed a real-time patient monitoring system with vitals dashboard.</li>
            <li>Integrated Raspberry Pi and medical sensors to collect and send live data.</li>
            <li>Implemented critical alert system via SMS, call, and on-screen warnings.</li>
            <li>Added secure user authentication and automatic report generation.</li>
            <li>Used attractive UI with HTML, CSS, and Bootstrap for a professional look.</li>
        </ul>
</div>

<div class="mb-5 slide-in-left">
    <h2 style="font-size: 40px;color: darkturquoise;">✈️ Airline Route Planning – Data Analysis</h3>
        <p><strong>Technologies:</strong> Python, Pandas, Matplotlib</p>
        <ul style="color: aliceblue; font-size: 20px;">
            <li>Performed exploratory data analysis (EDA) on airline route datasets.</li>
            <li>Analyzed route density, frequency, and connection maps between cities.</li>
            <li>Visualized insights using Matplotlib to optimize route planning.</li>
            <li>Helped improve efficiency in airline scheduling and network design.</li>
        </ul>
</div>

<div class="mb-5 zoom-in">
    <h2 style="font-size: 40px; color: darkturquoise; ">📱 Radiation Emission from Mobile Devices – Data Analysis</h3>
        <p><strong>Technologies:</strong> Python, Pandas, Matplotlib, Excel</p>
        <ul style="color: aliceblue; font-size: 20px;">
            <li>Collected SAR (Specific Absorption Rate) data from various mobile brands.</li>
            <li>Performed data cleaning, transformation, and analysis to compare devices.</li>
            <li>Created graphs to visualize and compare radiation patterns.</li>
            <li>Derived insights on health impact and safe usage practices.</li>
        </ul>
</div>

{% endblock %}