{% extends 'portfolio/base.html' %} {% block title %}Resume{% endblock %} {% block content %}
<h2 style="color: darkturquoise; font-family: 'Times New Roman', Times, serif; font-size: 40px; ">Education</h2>
<ul style="color: aliceblue; font-size: 20px;">
    <li>B.Tech (E&TC), KDK College, Nagpur – CGPA: 7.9</li>
    <li>HSC, Bhawanji Bhai Chavhan Jr. College – 89.33%</li>
    <li>SSC, Matoshri Vidyalaya – 82.80%</li>
</ul>

<h2 style="color: darkturquoise; font-family: 'Times New Roman', Times, serif; font-size: 40px; ">Skills</h2>
<ul style="color: aliceblue; font-size: 20px; ">
    <li>Languages: Python, C, C++</li>
    <li>Web: HTML, CSS, JS</li>
    <li>Frameworks: Flask, Django, FastAPI</li>
    <li>Tools: Raspberry Pi, Git, Arduino, VS Code</li>
    <li>Data Science: Pandas, Numpy, Matplotlib</li>
</ul>
{% endblock %}